<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExePABD.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=ANDY-DAFFA;Initial Catalog=AdventureWorks;User ID=sa;Password=justice"
            providerName="System.Data.SqlClient" />
        <add name="ExePABD.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=ANDY-DAFFA;Initial Catalog=ProdiTI;User ID=sa;Password=justice"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>